/* fakecss:C:/Users/Joseph/Github/wheezy-waiter-uploads/player/SidebarItem.esbuild-svelte-fake-css */
img.svelte-8pecld {
  color: transparent;
}
.item.svelte-8pecld {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: black;
}
.item.svelte-8pecld:hover {
  border: 1px solid #aaa;
  background-color: #ddd;
}
.item[data-selected=true].svelte-8pecld {
  background-color: #eee;
}
.text.svelte-8pecld {
  padding: 0 0.5em;
}
.small.svelte-8pecld {
  font-size: 0.6em;
}

/* fakecss:C:/Users/Joseph/Github/wheezy-waiter-uploads/player/Sidebar.esbuild-svelte-fake-css */
.hideoverflow.svelte-1njextn {
  overflow: hidden;
}

/* fakecss:C:/Users/Joseph/Github/wheezy-waiter-uploads/player/Description.esbuild-svelte-fake-css */
.meta.svelte-dkxruu {
  padding: 0 0.5em 2em;
  box-sizing: border-box;
}
hr.svelte-dkxruu {
  border: 0;
  border-bottom: 1px solid #bbb;
}
article.svelte-dkxruu {
  white-space: pre-wrap;
}

/* fakecss:C:/Users/Joseph/Github/wheezy-waiter-uploads/player/Player.esbuild-svelte-fake-css */
body {
  margin: 0;
  padding: 0;
}
.split.svelte-17280ld.svelte-17280ld {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}
.split.svelte-17280ld > div.svelte-17280ld {
  max-height: 100%;
  flex: 1 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.split.svelte-17280ld > .left.svelte-17280ld {
  flex-basis: calc(100% - 350px);
}
.split.svelte-17280ld > .right.svelte-17280ld {
  flex-basis: 350px;
}

/* fakecss:C:/Users/Joseph/Github/wheezy-waiter-uploads/player/App.esbuild-svelte-fake-css */
body {
  margin: 0;
  padding: 0;
}
